.headerRow--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.headerRow--main-header .headerRowBackground {
  background-color: rgba(0,0,0,.8);
}

.headerRow--main-header :global(.vtex-menu-2-x-styledLink)  {
  color: #727273;
  font-size: 14px;
}

.headerRow--main-header-mobile .headerRowBackground {
  padding: 10px 0px;
  background-color: #F0F0F0;
}

@media screen and (max-width: 40rem) {

.headerRow--main-header-mobile .headerRowBackground {
  padding: 0px;
  background: #000;
}

.headerRowContainer svg {
  color: #fff;
}

}