.homeLink svg {
    width: 18px;
    height: 18px;
    color: #000;
}

.link, .term {
    font-size: 14px;
    text-transform: uppercase;
}

.term {
    font-weight: bold;
}

.container {
    padding: 20px 0;
}